<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="/resources/icon.svg">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
     <!-- Middle section -->
    <section class="hero-section">
      <div class="hero">
        <h1>Movie Site Project</h1>
        <h2>Alexie Ilchuk & Dor binyamin</h2>
        <p>
          318210648 - 209460302
        </p>
        <div class="buttons">
          
           <!-- Options -->
          <a href="/login" class="login">Login Now</a>
          <a href="/register" class="register">Register Now</a>
        </div>
      </div>
    </section>
  </body>
</html>